### Data Visualization

In [2]:
import pandas as pd
data = pd.read_csv("AEGISDataset.csv")

In [4]:
display(data.head(10))

         lat         lon  flood_heig  elevation  precipitat
0  14.640394  121.055708           0  54.553295         9.0
1  14.698299  121.002132           0  21.856272        10.0
2  14.698858  121.100261           0  69.322807        16.0
3  14.571310  120.983334           0  10.987241         8.0
4  14.762232  121.075735           0  87.889847        18.0
5  14.601178  121.088599           0  14.463734        11.0
6  14.708031  121.052674           0  45.000553        12.0
7  14.709206  121.050292           0  43.226852        13.0
8  14.709625  121.047006           0  43.183113        12.0
9  14.669338  121.132898           0  48.276211        17.0

In [10]:
print("Dataset keys")
data.keys()

Dataset keys

Index(['lat', 'lon', 'flood_heig', 'elevation', 'precipitat'], dtype='object')

In [12]:
data.flood_heig

0       0
1       0
2       0
3       0
4       0
       ..
3505    8
3506    8
3507    8
3508    8
3509    8
Name: flood_heig, Length: 3510, dtype: int64

In [13]:
#importing the model
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=9)

In [6]:
data.shape

(3510, 5)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3510 entries, 0 to 3509
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   lat         3510 non-null   float64
 1   lon         3510 non-null   float64
 2   flood_heig  3510 non-null   int64
 3   elevation   3510 non-null   float64
 4   precipitat  3510 non-null   float64
dtypes: float64(4), int64(1)
memory usage: 137.2 KB